@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Uday World Web APP</h1>
    <h3>This is a new line added for class Demo</h3>
    <p>Yeh ek sample program hai. THis is a sample program..</p>
</div>
