@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Sample AEM Class Web APP</h1>
    <h3>This is a new line added for class Demo</h3>
    <p>This is new sample program ..</p>
</div>
